//Myriad Pro Regular
@font-face {
  font-family: 'Myriad Pro';
  src: url('../fonts/MyriadPro/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//HelveticaLTStd Bold
@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd/HelveticaLTStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//HelveticaLTStd Light
@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd/HelveticaLTStd-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//HelveticaLTStd Roman
@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/HelveticaLTStd/HelveticaLTStd-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Montserrat Bold
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

//Montserrat ExtraBold
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

//Montserrat Light
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

//Montserrat Regular
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//Montserrat Medium
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}