.banner.section
  ._wrap.wrap
    ._logo
      +icon('logo')
    ._content
      ._info
        ._title Освободитесь <br class="banner__br"> от бизнес-рутины <br class="banner__br"> и масштабируйте свою компанию
        ._subtitle Скачайте пошаговый план выхода из операционки <br class="banner__br"> и узнайте как построить систему в собственном бизнесе!
        .btn.-light._btn Скачать пособие и получить приглашение
        ._text Ответьте на 7 простых вопросов, чтобы узнать как масштабировать свой <br class="banner__br"> бизнес и получите приглашение на закрытый мастер-класс для собственников бизнеса:
        ._schedule
          ._schedule-title «Бизнес-трансформация: из хаоса в бизнес-систему»
          ._schedule-time который пройдет завтра в 17:15
      ._photo
        img(src="img/book.png", alt="alt")