.manual.section
  ._wrap.wrap
    ._title О пособии
    ._subtitle 
      ._text-bold «Как собственнику выйти из операционки»
      | Это пошаговый план из 10 пунктов к созданию системного бизнеса
    ._content
      ._content-text
        ._content-text-item ВЫ
        ._content-text-item УЗНАЕТЕ
        ._content-text-item КАК
      ._content-text-info
        ._list
          ._list-item Заложить здоровый фундамент для вашего бизнеса и определиться <br class="manual__br"> с ценным конечным продуктом компании.
          ._list-item Определить ключевые статистики и использовать их.
          ._list-item Разработать и внедрить организующую схему компании, сформировать <br class="manual__br"> должностные обязанности и распределить их по сотрудникам.
          ._list-item Внедрить расширенные статистики и добиться, чтобы сотрудники вели их.
          ._list-item Выйти из операционной деятельности за счет Формулы правильного делегирования.
        button(type='submit').btn._btn ЭТО ТО, ЧТО НУЖНО!